*{
  margin:0px;
  padding:0px;
}
.container{
  width: 400px;
  height: auto;
  background: #25273c;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  box-sizing: border-box;
  padding: 30px;
}

header{
  display:grid;
  grid-template-columns: 90px 1fr;
  background:#00000085;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.react_logo{
  width:100px;
  height:100px;
}

.todo_list_heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.inputBoxs{
  display:grid;
  grid-template-columns: 1fr 50px 50px;
  margin-top:20px;
}
.todo_list_input{
  padding:10px;
  outline:none;
  border-radius:5px;
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  -ms-border-radius:5px;
  -o-border-radius:5px;
  margin-right:5px;
  font-size:15px;
}
.todo_list_input:focus{
  border:2px solid black !important;
}
.todo_add_btn{
  border:none;
  outline:none;
  background:none;
  border-radius:100%  ;
  -webkit-border-radius:100%  ;
  -moz-border-radius:100%  ;
  -ms-border-radius:100%  ;
  -o-border-radius:100%  ;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  width:50px;
  height:50px;
  cursor: pointer;
}
.todo_add_btn:active{
  transform:scale(0.90);
  -webkit-transform:scale(0.90);
  -moz-transform:scale(0.90);
  -ms-transform:scale(0.90);
  -o-transform:scale(0.90);
}
.todo_add_btn:hover{
  background: green;
}
.addBtn{
  color:white;
  font-size:36px;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.todo_refresh_btn{
  border:none;
  outline:none;
  background:none;
  border-radius:100%  ;
  -webkit-border-radius:100%  ;
  -moz-border-radius:100%  ;
  -ms-border-radius:100%  ;
  -o-border-radius:100%  ;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  width:50px;
  height:50px;
  cursor: pointer;
}
.todo_refresh_btn:active{
  transform:scale(0.90);
  -webkit-transform:scale(0.90);
  -moz-transform:scale(0.90);
  -ms-transform:scale(0.90);
  -o-transform:scale(0.90);
}

.refreshbtn{
  color:white;
  font-size:36px;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.todo_itmes{
  margin-top:20px;
}

.todo_lists{
  display: grid;
  grid-template-columns: 1fr 30px;
  list-style:none;
  background:#222337;
  margin-top:8px;
  margin-bottom:8px;
  padding:18px;
  transition:0.5s;
  -webkit-transition:0.5s;
  -moz-transition:0.5s;
  -ms-transition:0.5s;
  -o-transition:0.5s;
}
.todo_lists:hover{
  background: #1e1f2e;
  cursor: pointer;
}
.todo_lists:hover .deleteButton{
  display:block;

}
.todo_lists p{
  word-break: break-all;

}
.deleteButton{
    display:none;
    transition:0.5s;
    -webkit-transition:0.5s;
    -moz-transition:0.5s;
    -ms-transition:0.5s;
    -o-transition:0.5s;
    font-size:25px;
    padding:0px;
    margin:0px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
}
.deleteButton:hover{
  color:red;
  cursor: pointer;
}

.project_maker{

  width:100%;
  margin-top:20px;
}
.project_maker p{
  display: flex;
  flex-direction: center;
  align-items:center;
  justify-content: center;
}
.project_maker p a{
  text-decoration: none;
  color:white;
  background:#222337;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  margin-left:8px;
  padding:10px;
}
.project_maker p a:hover{

  background:#1e1f2e;

}